{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome to the Home Page, {{ user.username }}!</h1>
        {% if user_desc.description %}
            <p>Your Description: {{ user_desc.description }}</p>
        {% else %}
            <p>No description available.</p>
        {% endif %}
		<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <h1>Welcome to the Home Page!</h1>
        <p>Please <a href="{% url 'login' %}">log in</a> to access your account.</p>
    {% endif %}
{% endblock %}

